body {
    background: #000000;
    color: #FFFFFF;
}

.App {
    padding: 5%;
    text-align: center;
}

.App-title {
    font-size: 26px;
}

/* Profile */
.profile {
    display: flex;
    justify-content: center;
}

.profile-img {
    border-radius: 75px;
    border: 2px solid #FFFFFF;
    height: 150px;
    object-fit: cover;
    width: 150px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    text-align: left;
}

.profile-name {
    font-size: 26px;
}

.profile-followers,
.profile-genres {
    font-size: 18px;
}

/* Gallery */
.track {
    cursor: pointer;
    display: inline-block;
    height: 220px;
    margin: 10px;
    position: relative;
    text-align: left;
    width: 220px;
}

.track-img {
    border-radius: 3px;
    border: 2px solid #FFFFFF;
    height: 220px;
    object-fit: cover;
    position: absolute;
    width: 220px;
}

.track-text {
    background: #000000;
    bottom: 2px;
    color: #FFFFFF;
    left: 2px;
    opacity: .75;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 216px;
}

.track-play {
    height: 220px;
    position: absolute;
    width: 220px;
}

.track-play-inner {
    background: #000000;
    border-radius: 30px;
    font-size: 25px;
    height: 60px;
    position: absolute;
    padding-top: 10px;
    text-align: center;
    width: 60px;
    color: #FFFFFF;
    top: 80px;
    left: 80px;
    text-align: center;
    opacity: 0;
    transition: opacity ease .3s;
}

.track-play:hover .track-play-inner {
    opacity: .8;
}